<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher slot="fixed" (ionRefresh)="ExplorePage">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <div id="divID" *ngIf="this.networkstatus else netproblem">
  </div>
  <ng-template #netproblem>
    <div style="text-align: center; padding-top:20%">
      <p>Internet Connection Problem</p>
    </div>
  </ng-template>
</ion-content>
