form {
    box-shadow: var(--box-shadow4);
    padding: 20px;
    margin: 40px;
    border: 1px solid var(--gray);
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray);
    margin: 10px 0;
}
label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--black);
}
ion-title.md.title-default.hydrated {
    color: var(--black);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
}
ion-row {
    ion-col {
        padding: 0;
    }
}
.cta {
    text-align: center;
    margin: 15px 0;
    button {
        background-color: var(--blue);
        padding: 13px 40px;
        color: var(--white);
        font-size: var(--small);
        border-radius: 25px;
        font-weight: 700;
        &:hover {
            box-shadow: var(--box-shadow2);
        }
    }
   
}
::ng-deep small {
    padding-bottom: 30px;
}